<div class="search-filters-wrapper mb-4">
  <div class="form-container">
    <form [formGroup]="searchForm" (submit)="search()">
      <div class="row custom-row">
        <div class="col-lg-3 custom-col">
          <p-floatlabel variant="on">
            <input pInputText id="filterByName" type="email" formControlName="filterByName"/>
            <label for="filterByName">Nazwa</label>
          </p-floatlabel>
        </div>
        <div class="col-lg-3 custom-col">
          <p-floatlabel class="w-full md:w-56" variant="on">
            <p-select id="filterByCategory" formControlName="filterByCategory" [options]="categories" [showClear]="true" [style]="{'width':'100%'}"/>
            <label for="filterByCategory">Kategoria</label>
          </p-floatlabel>
        </div>
        <div class="col-lg-3 custom-col" style="align-content: center">
          <p-checkbox
            formControlName="filterByPossibility"
            id="filterByPossibility"
            [binary]="true"
            [style]="{'margin-right':'1rem'}">
          </p-checkbox>
          <label for="filterByPossibility" style="color: #a1a1aa">Możliwe do realizacji</label>
        </div>
        <div class="col-lg-3 custom-col">
          <p-button label="Wyszukaj" type="submit" [style]="{'width':'130%'}" icon="pi pi-search" iconPos="right"  />
        </div>
      </div>
    </form>
  </div>
</div>

<div class="recipes-list-wrapper">
  <p-dataView #dv [value]="allRecipes">
    <ng-template #list let-items>
      <div class="container">
        <div class="row gy-3">
          <p-scrollPanel [style]="{ width: '100%', height: '70vh' }">
          <div class="col-12" *ngFor="let item of items">
            <div class="card border-0 shadow-sm single-recipe" [routerLink]="'/profile'">
              <div class="row g-0 align-items-center p-3">
                <div class="col-md-3">
                  <img
                    ngSrc="assets/images/obiad.png"
                    height="190" width="190"
                    alt="Avatar"
                    class=""
                  />
                </div>
                <div class="col-lg-9">
                  <div class="d-flex flex-column justify-content-between h-100">
                    <div>
                      <span class="text-muted small">{{ item.category }}</span>
                      <h5 class="mt-2">{{ item.name }}</h5>
                    </div>
                    <div class="mt-2">
                      <p class="text-muted">{{ item.description }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="border-color: #34d399 !important;" class="border-top mt-3 mb-3"></div>
          </div>
          </p-scrollPanel>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>

