/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import "primeicons/primeicons.css";
@import "bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }

main {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
