/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import "primeicons/primeicons.css";
@import "bootstrap/dist/css/bootstrap.min.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
  }

body { margin: 0;
  font-family: "Times New Roman", "Roboto", sans-serif;  background-color: #18181b; color: floralwhite; overflow-x: hidden; }


.router-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  width: 100%;
}
