<div class="password-form-wrapper">
  <form [formGroup]="form" (submit)="editPassword()">
    <div class="form-container">
      <h1>Zmień hasło</h1>
      <div class="form-fields">
        <p-floatlabel variant="on">
          <p-password id="currentPassword"
                      formControlName="currentPassword"
                      [feedback]="false"
                      [toggleMask]="true" />
          <label for="currentPassword">Aktualne hasło</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
          <p-password id="newPassword"
                      formControlName="newPassword"
                      [feedback]="false"
                      [ngClass]="{'ng-invalid': form.hasError('passwordMismatch') && form.get('repeatPassword')?.touched, 'ng-dirty': form.get('password')?.dirty}"
                      [toggleMask]="true" />
          <label for="newPassword">Nowe hasło</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
          <p-password id="repeatPassword"
                      formControlName="repeatPassword"
                      [feedback]="false"
                      [ngClass]="{'ng-invalid': form.hasError('passwordMismatch') && form.get('repeatPassword')?.touched, 'ng-dirty': form.get('password')?.dirty}"
                      [toggleMask]="true" />
          <label for="repeatPassword">Powtórz nowe hasło</label>
          <div *ngIf="form.hasError('passwordMismatch') && form.get('repeatPassword')?.touched">
            <small class="error-message">Hasła muszą być takie same</small>
          </div>
        </p-floatlabel>
      </div>
      <button type="submit" [disabled]="!form.valid" pButton pRipple >Zmień hasło <i class="pi pi-check"></i></button>
      <button type="button" class="p-button-secondary p-button-outlined" pButton pRipple (click)="cancel()" >Anuluj </button>
    </div>
  </form>
</div>
